{% extends 'base.html.twig' %}

{% block title %}Création de Ménage Party{% endblock %}

{% block body %}
    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock navbar %}
    <div class="flex justify-center items-center">
        <div class="flex flex-col w-96 m-10 p-10 items-center justify-center $bg-gray-200 rounded-lg">
            {% if app.user %}
                <h2 class="text-xl font-bold mb-4">Créer votre Ménage Party</h2>
            {% endif %}

            {{ form_start(form, {'attr': {'class': 'w-full max-w-md'}}) }}
            {{ form_row(form.title, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500 focus:shadow-outline-blue'}, 'label': 'Titre'}) }}
            {{ form_row(form.description, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Description'}) }}
            {{ form_row(form.dateStart, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Date'}) }}
            {{ form_label(form.listImage, 'Importer une image', {'label_attr': {'class': 'block text-gray-700 mb-2'}}) }}
            {{ form_widget(form.listImage, {'attr': {'class': 'border rounded py-2 px-3 w-full mb-4'}}) }}
            {{ form_errors(form.listImage) }}

            {{ form_row(form.services, {
                'label': 'Services',
                'multiple': true,
                'expanded': true,
                'choices': services,
            }) }}

            <div class="flex items-center justify-center flex-col">
                <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded  focus:shadow-outline-indigo" type="submit">Créer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}
