{% extends 'base.html.twig' %}

{% block title %}Stud Clean{% endblock %}

{% block body %}

    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock navbar %}

    <section class="mb-28">
        <div class="mt-16 flex flex-wrap justify-center items-center">
            <div class="w-full md:w-1/3 lg:w-1/4 p-4">
                <img src="./{{ asset('images/notimetoclean.jpeg') }}" class="w-full h-auto" alt="No Time to Clean">
                <h1 class="font-bold text-xl p-2">Pas le temps de faire le ménage chez vous ?</h1>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/4 p-4">
                <img src="./{{ asset('images/travaux-du-ménage-ennuyeux.jpg') }}" class="w-full h-auto" alt="Travaux du ménage ennuyeux">
                <h1 class="font-bold text-xl p-2">Vous préférez profiter de votre famille plutôt que de faire les tâches ménagères ?</h1>
            </div>
            <div class="w-full md:w-1/3 lg:w-1/4 p-4">
                <img src="./{{ asset('images/flemme_de_faire_le_menage.jpg') }}" class="w-full h-auto" alt="Flemme de faire le ménage">
                <h1 class="font-bold text-xl p-2">Vous avez la flemme de faire le ménage ?</h1>
            </div>
        </div>
    </section>

    <section class="my-20">
        <div class="flex flex-col items-center">
            <h1 class="mt-10 text-left font-bold text-xl p-2">Commencez par créer votre Ménage Party !</h1>
            <p class="my-2 text-left text-lg mb-4 px-2">Pour
                {% if app.user %}
                    {% for role in app.user.roles %}
                        {% if 'ROLE_CUSTOMER' in role %}
                            <a class="underline text-blue-600" href="{{ path('app_housework') }}">créer votre ménage party</a>
                        {% endif %}
                        {% if 'ROLE_CLEANER' in role %}
                            <span>créer votre ménage party</span>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span>créer votre ménage party</span>
                {% endif %}
                , vous avez juste à renseigner un titre, une description et ajouter la date et l'heure. Plus besoin de vous préoccuper du ménage ou encore de la vaisselle en rentrant du travail !
            </p>

            <h1 class="mt-20 md:mt-44 text-left font-bold text-xl p-2">Vous voulez proposer vos services ? C'est très simple !</h1>
            <p class="my-2 text-left text-lg mb-4 px-2">Vous avez juste à créer un compte Cleaner et aller dans la rubrique des Ménages Party proposés par les différents utilisateurs du site.</p>
            <img class="mt-10" src="./{{ asset('images/proposez_vos_services.jpg') }}" alt="Proposez vos services">

        </div>
    </section>

{% endblock %}
