{% extends 'base.html.twig' %}

{% block title %}Uber Clean{% endblock %}

{% block body %}
    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock navbar %}

    {% if not isCleaner %}
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col w-96 m-10 p-10 items-center justify-center bg-gray-100 rounded-lg">
                {% if app.user.image %}
                    <img class="rounded-md mb-6 h-full w-full object-cover" src="{{ asset('uploads/' ~ app.user.image) }}" alt="{{ app.user.firstName }}">
                {% else %}
                    <img class="rounded-md mb-6 h-full w-full object-cover" src="{{ asset('images/default.jpg') }}" alt="{{ app.user.firstName }}">
                {% endif %}

                <h2 class="text-xl font-bold mb-4">{{ app.user.firstName }} {{ app.user.lastName|capitalize }}</h2>
                {{ form_start(registrationForm, {'attr': {'class': 'w-full max-w-md'}}) }}
                {{ form_row(registrationForm.first_name, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Prénom'}) }}
                {{ form_row(registrationForm.last_name, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Nom'}) }}
                {{ form_row(registrationForm.adresse, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Adresse'}) }}
                {{ form_row(registrationForm.region, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Région'}) }}
                {{ form_row(registrationForm.code_postal, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Code postal'}) }}
                {{ form_row(registrationForm.email, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}}) }}
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Mot de passe'}) }}
                {{ form_label(registrationForm.image, 'Importer une image', {'label_attr': {'class': 'block text-gray-700 mb-2'}}) }}
                {{ form_widget(registrationForm.image, {'attr': {'class': 'border rounded py-2 px-3 w-full mb-4'}}) }}
                {{ form_errors(registrationForm.image) }}
                <div class="flex items-center justify-center flex-col">
                    <button type="submit" class="my-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded  focus:shadow-outline-indigo">Modifier</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>

    {% else %}
        <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col w-96 m-10 p-10 items-center justify-center bg-gray-100 rounded-lg">
                <img class="rounded-md mb-6 h-full w-full object-cover" src="{{ asset('uploads/' ~ app.user.image) }}" alt="{{ app.user.firstName }}">
                <h2 class="text-xl font-bold mb-4">{{ app.user.firstName }} {{ app.user.lastName|capitalize }}</h2>
                {{ form_start(registrationForm, {'attr': {'class': 'w-full max-w-md'}}) }}
                {{ form_row(registrationForm.first_name, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Prénom'}) }}
                {{ form_row(registrationForm.last_name, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Nom'}) }}
                {{ form_row(registrationForm.email, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}}) }}
                {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'mb-4 w-full px-3 py-2 rounded-lg border-gray-300 focus:border-indigo-500  focus:shadow-outline-blue'}, 'label': 'Mot de passe'}) }}
                {{ form_label(registrationForm.image, 'Importer une image', {'label_attr': {'class': 'block text-gray-700 mb-2'}}) }}
                {{ form_widget(registrationForm.image, {'attr': {'class': 'border rounded py-2 px-3 w-full mb-4'}}) }}
                {{ form_errors(registrationForm.image) }}
                <div class="flex items-center justify-center flex-col">
                    <button type="submit" class="my-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded  focus:shadow-outline-indigo">Modifier</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    {% endif %}



{% endblock %}
