{% extends 'base.html.twig' %}

{% block title %}Mes Ménages Party{% endblock %}

{% block body %}
    {% block navbar %}
        {{ include('_navbar.html.twig') }}
    {% endblock navbar %}
    <div class="flex items-center justify-center">
        {% if app.user.houseworks is not empty %}
            <div class="mt-10 p-6 grid grid-cols-3">
                {% for housework in app.user.houseworks %}
                    <div class="flex flex-col p-6 m-4 h-auto w-auto bg-gray-200 rounded-md">
                        {% if housework.listImage is defined %}
                            <img class="rounded-md mb-6 h-56 h-56 object-cover" src="{{ asset('uploads/' ~ housework.listImage) }}" alt="image">
                        {% endif %}
                        <h1 class="text-center text-xl font-bold mb-4">{{ housework.title }}</h1>
                        <p class="text-left text-lg font-bold mb-4">Description: </p>
                        <p class="text-left text-lg mb-4">{{ housework.description }}</p>
                        <p class="text-left text-lg mb-4">
                            <time datetime="{{ housework.dateStart|date('Y-m-d') }}">
                                Date: {{ housework.dateStart|date('d/m/Y') }}
                            </time>
                        </p>

                        <p class="text-left text-lg mb-4">
                            <time datetime="{{ housework.hour|date('h:i') }}">
                                Heure: {{ housework.hour|date('h') }}H{{ housework.hour|date('i') }}
                            </time>
                        </p>

                        <p class="text-left text-lg mb-4">Prix: {{ housework.price }}€</p>

                        <p class="text-left text-lg mb-4">Adresse: {{ app.user.adresse }}</p>
                        <p class="text-left text-lg mb-4">Code Postal: {{ app.user.codePostal }}</p>
                        <p class="text-left text-lg mb-4">Région: {{ app.user.region }}</p>
                        <a class="mb-2 text-center bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded  focus:shadow-outline-indigo block mx-auto" href="{{ path('app_register_cleaner_to_housework', {'id': housework.id}) }}">Détail</a>
                    </div>
                {% endfor %}
            {% else %}
                <ul class="flex flex-col items-center justify-center p-6 px-10 mx-4 h-96 w-auto bg-gray-200 rounded-md my-32">
                    <li>
                        <h1 class="text-xl font-bold mb-4">Vous n'avez pas de Ménage Party en cours...</h1>
                    </li>
                    <li class="mt-10 py-2 text-left text-md font-medium hover:text-blue-600">
                        <a class="mb-4 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded  focus:shadow-outline-indigo" href="/housework">Créer votre Ménage Party</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}
