{% block navbar %}
    <section>
        <div class="h-20 w-full flex items-center justify-between bg-gray-200">
            <a href="/">
                <img class="ml-10 h-20 p-4" src="{{ asset('images/logo_stud_clean.png')}}" alt="logo">
            </a>
            <ul class="w-262 h-50 flex items-center inline-block mr-20">
                <li class="text-lg font-bold mr-10">
                    <a href="{{ path('app_menage_party') }}">Ménages Party</a>
                </li>
                <li class="text-lg font-bold mr-10">
                    <a href="{{ path('app_events') }}">Services</a>
                </li>
                {% if app.user is defined and app.user is not null %}
                    <li class="mr-6 h-12 w-12 rounded-full overflow-hidden">
                        <button id="dropdownProfileButton" data-dropdown-toggle="dropdown" type="button">
                            {% if app.user.image is not null %}
                                <img class="rounded-md mb-2 h-12 w-12 object-cover" src="{{ asset('uploads/' ~ app.user.image) }}" alt="{{ app.user.firstName }}">
                            {% else %}
                                <img class="rounded-md mb-2 h-12 w-12 object-cover" src="{{ asset('images/default.jpg') }}" alt="{{ app.user.firstName }}">
                            {% endif %}
                        </button>

                        <div id="dropdown" class="z-10 hidden bg-white rounded-lg w-auto">
                            <ul class="rounded-md border-gray-100 border-2 px-6 py-2 text-sm" aria-labelledby="dropdownDefaultButton">
                                <li class="py-2 text-left text-md font-medium hover:text-blue-600">
                                    <p>{{ app.user.firstName|capitalize }} {{ app.user.lastName|first }}</p>
                                </li>
                                <li class="py-2 text-left text-md font-medium hover:text-blue-600">
                                    <a href="{{ path('app_profile', {'id': app.user.id}) }}">Mon Profil</a>
                                </li>
                                {% for role in app.user.roles %}
                                    {% if "ROLE_CUSTOMER" in role %}
                                        <li class="py-2 text-left text-md font-medium hover:text-blue-600">
                                            <a href="{{ path('app_show_houseworks', {'id': app.user.id}) }}">Mes Ménages Party</a>
                                        </li>
                                        <li class="py-2 text-left text-md font-medium hover:text-blue-600">
                                            <a href="{{ path('app_housework', {'id': app.user.id}) }}">Nouvelle Ménage Party</a>
                                        </li>

                                        {% elseif "ROLE_CLEANER" in role %}
                                            <li class="py-2 text-left text-md font-medium hover:text-blue-600">
                                                <a href="/profile/prochaines_prestations">Prochaines prestations</a>
                                            </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="py-2 text-left text-md font-medium text-red-400 hover:text-red-800">
                                    <a href="/logout">Déconnexion</a>
                                </li>
                            </ul>
                        </div>

                    </li>

                {% else %}
                    <li class="text-lg font-bold mr-4"><a href="{{  path('app_login') }}">Connexion</a></li>
                    <li class="text-lg font-bold mr-4"><a href="{{  path('app_register') }}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
    </section>

{% endblock navbar %}